html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* Reuseable Component */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

/* Headings */

.bigHeading {
  font-size: 3.8rem;
}

.carouselHeading {
  font-size: 3rem;
}

.pricingHeading {
  font-size: 3rem;
}

.container-fluid {
  padding: 3% 15% 7% 15%;
}

/* Title Page */

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* title Image */
.titleImage {
  width: 350px;
  height: 650px;
  transform: rotate(25deg);
  position: absolute;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  color: yellow;
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download Button */
.downloadButton {
  margin: 5% 3% 5% 0;
}

/* Features Sections */

#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.animatedIcon {
  width: 80px;
  padding-bottom: 20px;
}

#features p {
  color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-images {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  text-align: center;
  padding: 7% 15%;
}

#pricing p {
  padding-bottom: 25px;
}

/* CTA Section */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.big-heading {
  font-size: 3.5rem;
}

/* Footer Section */

#footer {
  text-align: center;
  padding: 7% 15%;
}

.footerUl {
  list-style: none;
}
.footerLi {
  display: inline-block;
  margin: 0px 10px;
}

.footerLink {
  color: #000;
}

.footerLink:hover {
  color: #ff4c68;
}

/*--------------- Media Query ----------------  */

@media (max-width: 1020px) {
  .titleImage {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .titleImage {
    width: 180px;
    height: 300px;
  }

  #features {
    font-size: 20%;
  }

  .bigHeading {
    font-size: 2rem;
  }
  .carouselHeading {
    font-size: 1rem;
  }

  .testimonial-images {
    width: 30%;
  }

  .press-logo {
    width: 12%;
    margin-bottom: 5px;
  }
  p {
    font-size: 0.8rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
  .big-heading {
    font-size: 1.5rem;
  }
  .pricingHeading {
    padding-bottom: 5px;
    font-size: 1.5rem;
  }

  #pricing .card p {
    margin: 0px;
    padding: 0px;
  }

  .animatedIcon {
    width: 20%;
    padding: 20px 0px 2px 0px;
  }
  .featuresHeading {
    font-size: 1rem;
  }

  #features p {
    margin: 0;
  }

  .downloadButton {
    margin: 2% 0% 2% 0%;
  }
  .btn-group-lg > .btn,
  .btn-lg {
    padding: 0 0.5rem;
  }
}
