html,
body {
  font-family: "Lato", sans-serif;

  scroll-behavior: smooth;
  text-align: center;
}

/* Reuseable Component */

.container-fluid {
  padding: 7% 15%;
  /* padding: 3% 15% 7% 15%; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

/* Headings */

.titleHeading {
  font-size: 3.8rem;
}

.carouselHeading {
  font-size: 2.9rem;
}

.pricingHeading {
  font-size: 3rem;
}

/* Sections */
.color-section {
  background-color: #ff4c68;
  color: #fff;
}
#testimonials.color-section,
#press.color-section {
  background-color: #ef8172;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}

/** Title Page */

#title .container-fluid {
  padding: 3% 15% 7% 15%;
  text-align: left;
}

/* title Image */
.titleImage {
  width: 350px;
  height: 650px;
  transform: rotate(25deg);
  position: absolute;
}

/* Download Button */
.downloadButton {
  margin: 5% 3% 5% 0;
}

/* Features Sections */

#features {
  position: relative;
}

.animatedIcon {
  width: 25%;
  padding-bottom: 20px;
}

#features p {
  color: #8f8f8f;
}

/* Testimonial Section */

.testimonial-images {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing p {
  padding-bottom: 25px;
}

/* CTA Section */

.ctaHeading {
  font-size: 3.5rem;
}

/* Footer Section */

#footer p {
  margin-bottom: 0px;
}
.footerUl {
  list-style: none;

  padding-left: 0;
}
.footerLi {
  display: inline-block;
  margin: 0px 10px;
}

.footerLink {
  color: #000;
}

.footerLink:hover {
  color: #ff4c68;
}

.credit,
.credit a {
  color: #aaa;
  text-decoration: none;
}

.credit a:hover {
  color: #ff4c68;
}

/*--------------- Media Query ----------------  */

@media (max-width: 1020px) {
  #title {
    text-align: center;
  }

  .titleImage {
    position: static;
    transform: rotate(0);
  }
}

/* ------ For Mobile Devices --------- */

@media (max-width: 480px) {
  p {
    font-size: 0.8rem;
  }
  .titleHeading {
    font-size: 2rem;
  }

  .downloadButton {
    margin: 2% 0% 2% 0%;
  }
  .btn-group-lg > .btn,
  .btn-lg {
    padding: 0 0.5rem;
  }

  .titleImage {
    width: 180px;
    height: 300px;
    padding-top: 15px;
  }

  /* Features Section */

  .featuresHeading {
    font-size: 1rem;
  }

  #features p {
    margin: 0;
  }
  .animatedIcon {
    padding: 20px 0px 2px 0px;
  }

  .carouselHeading {
    font-size: 1.2rem;
  }

  .testimonial-images {
    width: 30%;
  }

  .press-logo {
    width: 12%;
    margin-bottom: 5px;
  }

  /* Pricing Section */

  .pricingHeading {
    padding-bottom: 5px;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  #pricing .card p {
    margin: 0px;
    padding: 0px;
  }

  .ctaHeading {
    font-size: 1.5rem;
  }
}
